/* Keep existing styles */
.inputContainer {
  position: relative;
  /* margin-bottom: 1.5rem; */
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputField {
  @apply w-full mt-[16px] px-2 lg:px-4 py-2 bg-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 text-white disabled:cursor-not-allowed disabled:opacity-80 file:bg-interactive-light file:border-none file:hover:bg-interactive-light-hover file:cursor-pointer file:text-white file:px-2 file:lg:px-4 file:py-2;
  padding-right: 40px; /* Space for the eye icon */
}

.inputField[type="file"] {
  @apply p-0 pr-2 lg:pr-4;
}

.iconButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #9ca3af;
  display: flex;
  align-items: center;
}

.iconButton:hover {
  color: #ffffff;
}

/* Autofill styles */
.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus,
.inputField:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #374151 inset !important;
  background-color: #374151 !important;
  -webkit-text-fill-color: white !important;
  color: white !important;
  caret-color: white !important;
}

/* Placeholder and label animations */
.inputField::placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

.inputField:focus::placeholder {
  color: #8698b0; /* Equivalent to Tailwind 'text-gray-700' */
  /* transition: color 0.3s ease; */
}

.label {
  /* position: absolute; */
  top: 50%;
  left: 1rem;
  font-size: 1rem;
  color: #aaa;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.inputField + .label,
.inputField:not(:placeholder-shown) + .label {
  font-size: 1rem;
  top: 3.5rem;
  left: 2rem;
  color: #9ca3af;
  transform: translateY(-100%);
}

.inputField + .label.focused {
  font-size: 1rem;
  top: 0%;
  left: 1rem;
  color: #aaa;
  transform: translateY(-50%);
}
